@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    12, Istiqbol Street<br />
    Tashkent, Uzbekistan<br />
    <abbr title="Phone">P:</abbr>
    (+998 71) 238 74 00
</address>

<iframe style="border: 0pt none;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5994.1011456103915!2d69.28137529459838!3d41.307763417012076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xda0402847aed7b96!2sWestminster+University+-+Tashkent!5e0!3m2!1sen!2s!4v1401428304102" height="450" width="600" frameborder="0"></iframe><br />

<address>
    <strong>Enquiry office:</strong>   <a href="mailto:advice@wiut.uz">advice@wiut.uz</a><br />
    <strong>Academic Registrar’s office:</strong> <a href="mailto:admission@wiut.uz">admission@wiut.uz</a>
</address>