@{
    ViewBag.Title = "Welcome to ";
}

<div class="jumbotron">
    <h1>WIUT Attendance System</h1>
    <p class="lead">WIUT Attendace System assists to collect information about group allocation, timetabling and attendance at Westminster International University in Tashkent</p>
    <p><a href="http://www.wiut.uz" class="btn btn-primary btn-lg">Learn more about WIUT &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Group allocation</h2>
        <p>
            Groups at the WIUT are formed at the beginning of each semister. It is Course Leaders' responsibility
            to assign the students registered to the courses into groups. Course Leaders consider students module choices at the 
            first place in forming groups. 
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Timetabling</h2>
        <p>Timetabling process is very essential to organize the daily life of the University. Dean's Office takes care of generating 
        timetables for the groups until the studying process commences. </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Attendance</h2>
        <p>Students at the university are obliged to attend seminars from the modules to which they are registered. Missing the </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>